* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", cursive;
  font-family: cursive;
}
body {
  background-color: white;
}

.navbar {
  padding: 1% 2%;
  background-color: rgb(251 234 233) !important;
}
.nav-link {
  color: rgb(1, 93, 212) !important;
}
.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(6, 139, 35);
  display: block;
  margin: auto;
  transition: 0.8s;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-collapse {
  padding: 1.25rem 0.625rem 0 0.625rem;
}

@media (max-width: 700px) {
  .navLinks ul li {
    display: block;
  }
  .navLinks {
    position: absolute;
    background: bisque;
    width: 190px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .navLinks ul {
    padding: 30px;
  }
}

/* index page css */

.carousel {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.carousel-inner {
  object-fit: cover;
  border-radius: 40px;
}
.carousel-inner img {
  opacity: 95%;
  object-fit: cover;
}
.carousel-item {
  height: 450px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
}

.slider-text-1 {
  bottom: 15rem;
}
.g-name {
  font-size: 1.8rem;
  color: blueviolet;
  font-family: "Rowdies", cursive;
  background: #f8f9fa1c;
  margin-bottom: 0;
}
.g-name-2 {
  font-size: 2.5rem;
  color: blueviolet;
}
.g-work {
  font-size: 1.5rem;
  color: rgb(23 48 165 / 89%);
  font-family: "Rowdies", cursive;
  background: #f8f9fa1c;
  margin-bottom: 0;
}
.g-work {
  font-size: 1.2rem;
}
.carousel-indicators .active {
  background-color: #015dd4;
}
.carousel-caption {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  color: #fff;
  right: 60%;
  left: 0%;
  top: 5%;
  text-align: center;
}
.carousel-caption-2 {
  right: 23%;
  left: 0%;
  top: 33%;
}
.carousel-indicators .active {
  height: 0.8rem;
  width: 1.4rem;
}

.round-border-blue {
  border-color: #015dd4 !important;
}

@media (min-width: 992px) {
  .bt-large-0 {
    border-bottom: 0 !important;
  }
}
@media (max-width: 768px) {
  .g-name {
    font-size: 1.2rem;
  }
  .g-name-2 {
    font-size: 0.9rem;
  }
  .g-work {
    font-size: 0.8rem;
  }
  .g-work-2 {
    font-size: 0.6rem;
  }
  .carousel-item {
    height: 25rem;
  }
  .slider-text-1 {
    bottom: 16rem;
  }
  .carousel-inner img {
    height: 25rem;
    object-fit: initial;
  }
  .slider-text-1 h5 {
    font-size: 25px;
  }
  .nav-down-border {
    border-top: 1px solid #dedede;
  }
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    color: #fff;
    right: 0%;
    left: 0%;
    top: 13%;
    text-align: center;
  }
  .carousel-caption-2 {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    color: #fff;
    right: 24%;
    left: 0%;
    top: 35%;
    text-align: center;
  }
}
@media only screen and (min-device-width: 768) and (max-device-width: 1023px) {
  .slider-text-1 {
    bottom: 18rem;
  }
  .g-name-2 {
    font-size: 1.9rem;
  }
  .g-work-2 {
    font-size: 1.2rem;
  }
  .carousel-caption {
    right: 54%;
  }
}

/*footer css*/
#back {
  /* background-color: #1f3dc9; */
  background-image: linear-gradient(to bottom, #163aeb, #007b00);
}
.foot-link {
  color: rgb(1, 93, 212);
  text-decoration: none;
}
.foot-link:hover {
  color: rgb(49, 182, 71);
  text-decoration: none;
  border-bottom: 2px solid rgb(1, 93, 212);
}
.footer-header {
  color: rgb(1, 93, 212);
}
.p-footer {
  margin-bottom: 0.5rem;
}
.footer-logo {
  width: auto;
  height: 4rem;
}
.footer-header-line {
  background-color: rgb(49, 182, 71);
}

/* about page */
.bg-no-color {
  background: none !important;
}

/* ----campus--- */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col {
  flex-basis: 32%;
  /* text-align: center; */
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col:hover {
  box-shadow: 0 0 20px 0px rgb(1, 93, 212);
}

.campus-col img {
  width: 100%;
  height: 16rem;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(39, 37, 37, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: rgb(26, 22, 22);
  font-size: 25px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
  color: rgb(242, 37, 37);
}
.custom-flex-column {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .custom-flex-column {
    flex-direction: column;
  }
}

/* project page */
.shadow-sm:hover {
  box-shadow: 0 0 20px 0px #83c083;
  cursor: pointer;
}
.img-fit-contain {
  object-fit: contain;
}
